<settings>
<!-- uncomment the following once you have enough stuff locally cached to avoid boostrapping issues -->
  <mirrors>
    <mirror>
      <id>nexus-osc</id>
      <mirrorOf>*</mirrorOf>
	  <name>nexus-osc</name>
	  <url>http://maven.oschina.net/content/groups/public/</url>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <id>osc-profile</id>
      <repositories>
        <repository>
          <id>osc-repository</id>
          <url>http://maven.oschina.net/content/groups/public/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>osc-profile</activeProfile>
  </activeProfiles>
</settings>
