<settings>
<!-- uncomment the following once you have enough stuff locally cached to avoid boostrapping issues -->
<!--  <mirrors>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>sftp://maven@maven.dtg.cl.cam.ac.uk/mirror/</url>
    </mirror>
  </mirrors>-->
  <profiles>
    <profile>
      <id>repositories</id>
      <repositories>
        <repository>
          <id>dtg-repository</id>
          <url>sftp://maven@maven.dtg.cl.cam.ac.uk/mirror/</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>repositories</activeProfile>
  </activeProfiles>
</settings>
